@{
    Layout = "_Layout";
}
@model IEnumerable<PracticaU2OfertaAcademica.Models.Carreras>

<h1>Oferta Académica</h1>
<ol class="rectangle-list">
	@foreach (var c in Model)
	{
		<li><a href="/@c.Nombre.Replace(" ","-")/Info">@c.Plan @c.Nombre</a></li>
	}
</ol>
